

body {
    background-color: #083b4c;
}

.color_blue {
    background-color: #1389b2;
}

.color_green {
    background-color: #0bd6a1;
}

.color_yellow {
    background-color: #ffd166;
}

.color_pink {
    background-color: #f0466f;
}